---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#404040;
  font-weight:400;
}

h1 {
  font-size:28px;
}

a {
  color:#D00000;
  text-decoration:none;
}

a:hover, a:focus {
  color:#A00000;
  font-weight: normal;
}

h1 a:hover, h1 a:focus {
  font-weight: bold;
}

h2 a:hover, h2 a:focus {
  font-weight: bold;
}

section {
  width: 550px;
}

header {
  width: 270px;
}

code {
  font-size: 12px;
}